/*
    *  --------------------------------------------------------------------------------------  *
    *  -----  /05-ejercicio-05.scss  --  /src/scss/pages/clase-17/05-ejercicio-05.scss  -----  *
    *  --------------------------------------------------------------------------------------  *
*/


@use '../../base/mixins' as mix;




p.piefoto {
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    background-color: #ddd;

    @include mix.mobile {
        font-size: 1.4rem;
    }

    @include mix.tablet {
        font-size: 1.6rem;

    }

}