<!--  
    *  --------------------------------------------------------------------------------  *
    *  -----  /layout-navbar.html  --  /src/components/layout/layout-navbar.html  -----  *
    *  --------------------------------------------------------------------------------  *
-->



<!--
    ------------------------------
    ----------  NAVBAR  ----------  
    ------------------------------
-->

<div class="navbar__container" title="Arrrastrame!!!">


    <!--
        --------------------------------------  
        -----  Título del menú (navbar)  -----
        --------------------------------------  
    -->
    <div class="navbar__title navbar__title--first">

        <!--  -----  Icon de jQuery -----  -->
        <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
            <img 
                class="navbar-jquery-icon"
                src="../../../assets/img/logos/jquery/jquery-icon-64x64.svg" alt="Logo jQuery"
                width="64"
                height="64"
                loading="lazy"
            >
        </a>

        <h3> Navigation </h3>
        
        <!--  -----  Icon de jQuery UI -----  -->
        <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
            <img 
                class="navbar-jquery-ui-icon"
                src="../../../assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                alt="Logo jQuery UI" loading="lazy"
                width="68"
                height="59"
            >
        </a>

    </div>

     <!--  -----  Lista del menú (HOME)  -----  -->
     <ul class="navbar__list">

       
        <!--  -----  item Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home" data-route="route-home">
                Home
            </a>
        </li>

    </ul>



     <!--  -----  list -  Clase 18  -----  -->
    <ul class="navbar__list">

        <!--  -----  item HTML  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="htmlPage" data-route="route-html-page">
                HTML5
            </a>
        </li>

        <!--  -----  item CSS  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="cssPage" data-route="route-css-page">
                CSS3
            </a>
        </li>

        <!--  -----  item JavaScript  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="javascriptPage" data-route="route-javascript-page">
                JavaScript ES6+
            </a>
        </li>

        <!--  -----  item jQuery  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="jqueryPage" data-route="route-jquery-page">
                jQuery
            </a>
        </li>

        <!--  -----  item jQuery UI  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="jqueryUiPage" data-route="route-jquery-ui-page">
                jQuery UI
            </a>
        </li>

        <!--  -----  item React  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="reactPage" data-route="route-react-page">
                React
            </a>
        </li>

        <!--  -----  item Astro  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="astroPage" data-route="route-astro-page">
                Astro
            </a>
        </li>

    </ul>
    
   

</div>
