<!--  
    *  --------------------------------------------------------------------------------  *
    *  -----  /layout-navbar.html  --  /src/components/layout/layout-navbar.html  -----  *
    *  --------------------------------------------------------------------------------  *
-->



<!--
    ------------------------------
    ----------  NAVBAR  ----------  
    ------------------------------
-->

<div class="navbar__container" title="Arrrastrame!!!">


    <!--
        --------------------------------------  
        -----  Título del menú (navbar)  -----
        --------------------------------------  
    -->
    <div class="navbar__title navbar__title--first">

        <!--  -----  Icon de jQuery -----  -->
        <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
            <img 
                class="navbar-jquery-icon"
                src="../../../assets/img/logos/jquery/jquery-icon-64x64.svg" alt="Logo jQuery"
                width="64"
                height="64"
                loading="lazy"
            >
        </a>

        <h3> Navigation </h3>
        
        <!--  -----  Icon de jQuery UI -----  -->
        <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
            <img 
                class="navbar-jquery-ui-icon"
                src="../../../assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                alt="Logo jQuery UI" loading="lazy"
                width="68"
                height="59"
            >
        </a>

    </div>


    <!--  -----  Clases 1, 2, 3, 4 y 5  -----  -->
    <ul class="navbar__list">

        <!--  -----  jquery.antonydev.tech  -----  -->
        <li class="navbar__item">
            <a href="/" >
                jQuery.antonydev.tech
            </a>
        </li>
        <!--  -----  Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home" data-route="route-home">
                Curso jQuery - escuela.it
            </a>
        </li>

        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase01" data-route="route-clase01">
                Clase 1 - Que es jQuery
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase02" data-route="route-clase02">
                Clase 2 - Usar jQuery en la Actualidad
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase03" data-route="route-clase03">
                Clase 3 - Práctica primeros pasos
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase04" data-route="route-clase04">
                Clase 4 - Como se organiza el curso
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase05" data-route="route-clase05">
                Clase 5 - Introducción a jQuery
            </a>
        </li>

    </ul>


    <!--  -----  Clases 6  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 6-0  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase06" data-route="route-clase06">
                Clase 6 - Primeros Pasos con jQuery
            </a>
        </li>

        <!--  -----  item 6-1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase06Ejemplo1" data-route="route-clase06-ejemplo1">
                Clase 6 - Ejemplo 1
            </a>
        </li>

        <!--  -----  item 6-2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase06Ejemplo2" data-route="route-clase06-ejemplo2">
                Clase 6 - Ejemplo 2
            </a>
        </li>

    </ul>


    <ul class="navbar__list">

        <!--  -----  item 7  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07" data-route="route-clase07">
                Clase 7 - Manipulación Básica de Elementos
            </a>
        </li>

        <!--  -----  item 7 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07HtmlText" data-route="route-clase07-html-text">
                Clase 7 - 1. Métodos html() y text()
            </a>
        </li>

        <!--  -----  item 7 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07AttrProp" data-route="route-clase07-attr-prop">
                Clase 7 - 2. Métodos attr() y prop()
            </a>
        </li>

        <!--  -----  item 7 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07DataRemoveData" data-route="route-clase07-data-remove-data">
                Clase 7 - 3. Métodos data() y removeData()
            </a>
        </li>

        <!--  -----  item 7 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07Each" data-route="route-clase07-each">
                Clase 7 - 4. Método each() para recorrer elementos
            </a>
        </li>

    </ul>


    <!--  -----  list Clases 8  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 8  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08" data-route="route-clase08">
                Clase 8 - Selectores jQuery y Traversing
            </a>
        </li>

        <!--  -----  item 8 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08SelectoresJerarquia" data-route="route-clase08-selectores-jerarquia">
                Clase 8 - 1. Selectores Jerarquia
            </a>
        </li>

        <!--  -----  item 8 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08ProbarSelectores" data-route="route-clase08-probar-selectores">
                Clase 8 - 2. Probar Selectores
            </a>
        </li>

        <!--  -----  item 8 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08Traversing" data-route="route-clase08-traversing">
                Clase 8 - 3. Traversing
            </a>
        </li>

        <!--  -----  item 8 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08Contexto" data-route="route-clase08-contexto">
                Clase 8 - 4. Partir de un Contexto
            </a>
        </li>

    </ul>


    <!--  -----  list Clases 9  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 9  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09" data-route="route-clase09">
                Clase 9 - Dudas y Conceptos 1
            </a>
        </li>

        <!--  -----  item 9 - 0  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio00This" data-route="route-clase09-ejercicio00-this">
                Clase 9 - Ejercicio con this
            </a>
        </li>

        <!--  -----  item 9 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio01" data-route="route-clase09-ejercicio01">
                Clase 9 - Ejercicio 1
            </a>
        </li>

        <!--  -----  item 9 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio02" data-route="route-clase09-ejercicio02">
                Clase 9 - Ejercicio 2
            </a>
        </li>

        <!--  -----  item 9 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio03" data-route="route-clase09-ejercicio03">
                Clase 9 - Ejercicio 3
            </a>
        </li>

        <!--  -----  item 9 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio04" data-route="route-clase09-ejercicio04">
                Clase 9 - Ejercicio 4
            </a>
        </li>

        <!--  -----  item 9 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio05" data-route="route-clase09-ejercicio05">
                Clase 9 - Ejercicio 5
            </a>
        </li>

        <!--  -----  item 9 - 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio06Date" data-route="route-clase09-ejercicio06-date">
                Clase 9 - Ejercicio 6 con Date
            </a>
        </li>

    </ul>
    

    <!--  -----  list -  Clase 10  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 10  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase10" data-route="route-clase10">
                Clase 10 - Manipulación avanzada del contenido
            </a>
        </li>
        
        <!--  -----  item 10 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10AppendPrepend" data-route="route-clase10-append-prepend">
                Clase 10 - Inyección Append / Prepend / AppendTo / PrependTo
            </a>
        </li>

        <!--  -----  item 10 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10AfterBefore" data-route="route-clase10-after-before">
                Clase 10 - Inyección After / Before / InsertAfter / InsertBefore
            </a>
        </li>

        <!--  -----  item 10 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase10Dom" data-route="route-clase10-dom">
                Clase 10 - Inyección DOM
            </a>
        </li>

        <!--  -----  item 10 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase10Envoltura" data-route="route-clase10-envoltura">
                Clase 10 - Envoltura
            </a>
        </li>

        <!--  -----  item 10 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10Dimensiones" data-route="route-clase10-dimensiones">
                Clase 10 - Dimensiones
            </a>
        </li>

        <!--  -----  item 10 - 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10ScrollOffset" data-route="route-clase10-scroll-offset">
                Clase 10 - Scroll / Offset
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 11  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 11  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase11" data-route="route-clase11">
                Clase 11 - Eventos en jQuery
            </a>
        </li>
        
        <!--  -----  item 11 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11MetodoOn" data-route="route-clase11-metodo-on">
                Clase 11 - Eventos - Método On
            </a>
        </li>

        <!--  -----  item 11 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11MetodoOff" data-route="route-clase11-metodo-off">
                Clase 11 - Eventos - Método Off
            </a>
        </li>

        <!--  -----  item 11 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase11EventType" data-route="route-clase11-event-type">
                Clase 11 - Eventos - Event Type
            </a>
        </li>

        <!--  -----  item 11 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase11PreventDefault" data-route="route-clase11-prevent-default">
                Clase 11 - Eventos - Prevent Default
            </a>
        </li>

        <!--  -----  item 11 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11StopPropagation" data-route="route-clase11-stop-propagation">
                Clase 11 - Eventos - Stop Propagation
            </a>
        </li>

        <!--  -----  item 11 - 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11EvitarDobleClick" data-route="route-clase11-evitar-doble-click">
                Clase 11 - Eventos - Evitar Doble Click
            </a>
        </li>

        <!--  -----  item 11 - 7  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase11EventoPageXPageY" data-route="route-clase11-evento-page-xpage-y">
                Clase 11 - Eventos - PageX / PageY
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 12  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 12  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase12" data-route="route-clase12">
                Clase 12 - Eventos de Teclado y Ratón
            </a>
        </li>
        
        <!--  -----  item 12 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase12MovimientoRaton" data-route="route-clase12-movimiento-raton">
                Clase 12 - 1. Seguir movimiento del ratón
            </a>
        </li>

        <!--  -----  item 12 - 2  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase12MenuContextual" data-route="route-clase12-menu-contextual">
                Clase 12 - 2. Menú contextual personalizado
            </a>
        </li>

        <!--  -----  item 12 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase12TextareaCuentaCaracteres" data-route="route-clase12-textarea-cuenta-caracteres">
                Clase 12 - 3. Textarea cuenta caracteres
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 13  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 13  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase13" data-route="route-clase13">
                Clase 13 - Efectos y Animaciones
            </a>
        </li>
        
        <!--  -----  item 13 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase13Toggle" data-route="route-clase13-toggle">
                Clase 13 - 1. Toggle
            </a>
        </li>

        <!--  -----  item 13 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase13Animate" data-route="route-clase13-animate">
                Clase 13 - 2. Animate
            </a>
        </li>

        <!--  -----  item 13 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase13PluginEase" data-route="route-clase13-plugin-ease">
                Clase 13 - 3. Plugin Ease
            </a>
        </li>

        <!--  -----  item 13 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase13PluginEaseAnimateColors" data-route="route-clase13-plugin-ease-animate-colors">
                Clase 13 - 4. Plugin Ease Animate Colors
            </a>
        </li>

         <!--  -----  item 13 - 5  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase13PluginEaseAnimateColorsOptions" data-route="route-clase13-plugin-ease-animate-colors-options">
                Clase 13 - 5. Plugin Ease Animate Colors Options
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 14  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 14  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase14" data-route="route-clase14">
                Clase 14 - Cola de Efectos
            </a>
        </li>
        
        <!--  -----  item 14 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase14EncoladoEfectos" data-route="route-clase14-encolado-efectos">
                Clase 14 - 1. Encolado de Efectos
            </a>
        </li>

        <!--  -----  item 14 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase14EjemploStop" data-route="route-clase14-ejemplo-stop">
                Clase 14 - 2. Ejemplo Stop
            </a>
        </li>

        <!--  -----  item 14 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase14LongitudColaEfectos" data-route="route-clase14-longitud-cola-efectos">
                Clase 14 - 3. Longitud Cola Efectos
            </a>
        </li>

        <!--  -----  item 14 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase14EncolarFuncionesNoEfectos" data-route="route-clase14-encolar-funciones-no-efectos">
                Clase 14 - 4. Encolar Funciones No Efectos
            </a>
        </li>

         <!--  -----  item 14 - 5  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase14EncoladoRespuestasEventos" data-route="route-clase14-encolado-respuestas-eventos">
                Clase 14 - 5. Encolado Respuestas Eventos
            </a>
        </li>

        <!--  -----  item 14 - 6  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase14AnimacionesEnBucle" data-route="route-clase14-animaciones-en-bucle">
                Clase 14 - 6. Animaciones en Bucle
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 15  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 15  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase15" data-route="route-clase15">
                Clase 15 - JSON
            </a>
        </li>
    
    </ul>


     <!--  -----  list -  Clase 16  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 16  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase16" data-route="route-clase16">
                Clase 16 - AJAX Interfaz Alto Nivel
            </a>
        </li>
        
        <!--  -----  item 16 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase16Load" data-route="route-clase16-load">
                Clase 16 - 1. Load
            </a>
        </li>

        <!--  -----  item 16 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase16GetAjax" data-route="route-clase16-get-ajax">
                Clase 16 - 2. Get Ajax
            </a>
        </li>

        <!--  -----  item 16 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase16GetAjaxDatos" data-route="route-clase16-get-ajax-datos">
                Clase 16 - 3. Get Ajax Datos
            </a>
        </li>

        <!--  -----  item 16 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase16GetAjaxDatosObjetoAjax" data-route="route-clase16-get-ajax-datos-objeto-ajax">
                Clase 16 - 4. Get Ajax Datos Objeto Ajax
            </a>
        </li>
      
    </ul>


     <!--  -----  list -  Clase 17  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 17  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase17" data-route="route-clase17">
                Clase 17 - Dudas y Conceptos Parte 2
            </a>
        </li>
        
        <!--  -----  item 17 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio01" data-route="route-clase17-ejercicio01">
                - Ejercicio 01
            </a>
        </li>

        <!--  -----  item 17 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio02" data-route="route-clase17-ejercicio02">
                - Ejercicio 02
            </a>
        </li>

        <!--  -----  item 17 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio03" data-route="route-clase17-ejercicio03">
                - Ejercicio 03
            </a>
        </li>

        <!--  -----  item 17 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio04" data-route="route-clase17-ejercicio04">
                - Ejercicio 04
            </a>
        </li>

        <!--  -----  item 17 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio05" data-route="route-clase17-ejercicio05">
                - Ejercicio 05
            </a>
        </li>

       
        
        <!--  -----  item 17 - 7  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio05Hover" data-route="route-clase17-ejercicio05-hover">
                - Ejercicio 05 Hover
            </a>
        </li>

        <!--  -----  item 17 - 8  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio06" data-route="route-clase17-ejercicio06">
                - Ejercicio 06
            </a>
        </li>

        <!--  -----  item 17 - 9  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio07" data-route="route-clase17-ejercicio07">
                - Ejercicio 07
            </a>
        </li>

        <!--  -----  item 17 - 10  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio08" data-route="route-clase17-ejercicio08">
                - Ejercicio 08
            </a>
        </li>

        <!--  -----  item 17 - 11  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio09" data-route="route-clase17-ejercicio09">
                - Ejercicio 09
            </a>
        </li>

        <!--  -----  item 17 - 12  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio10" data-route="route-clase17-ejercicio10">
                - Ejercicio 10
            </a>
        </li>

        <!--  -----  item 17 - 13  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase17Ejercicio10Paralax" data-route="route-clase17-ejercicio10-paralax">
                - Ejercicio 10 Paralax
            </a>
        </li>
      
    </ul>


     <!--  -----  list -  Clase 18  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 18  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase18" data-route="route-clase18">
                Clase 18 - Formularios Ajax
            </a>
        </li>
        
        <!--  -----  item 18 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase18EnviarDatosPostSinFormularios" data-route="route-clase18-enviar-datos-post-sin-formularios">
                - Enviar Datos Post Sin Formularios
            </a>
        </li>

        <!--  -----  item 18 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase18FormulariosSinValidacion" data-route="route-clase18-formularios-sin-validacion">
                - Formularios Sin Validacion
            </a>
        </li>

        <!--  -----  item 18 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase18FormularioValidacionCliente" data-route="route-clase18-formulario-validacion-cliente">
                - Formulario Validacion Cliente
            </a>
        </li>

        <!--  -----  item 18 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase18FormularioValidacionClienteServidor" data-route="route-clase18-formulario-validacion-cliente-servidor">
                - Formulario Validacion Cliente Servidor
            </a>
        </li>
      
    </ul>


</div>
