/*
    *  -----------------------------------------------------------------------------------------------------------------------------  *
    *  -----  /04-encolar-funciones-no-efectos.scss  --  /src/styles/scss/pages/clase-14/04-encolar-funciones-no-efectos.scss  -----  *
    *  -----------------------------------------------------------------------------------------------------------------------------  *
*/


.main__section-practica {
    min-height: 40rem;
}


.contenedor-animacion {
    width: 100%;
    min-height: 14rem;
    margin-block: 2rem;
}

.texto{
    width: 100%;
    height: 10rem;
    color: white;
    background-color: #f99;
    text-align: center;
    padding: 4rem;
    cursor: pointer;
}
